/*  your css code here. If applicable */
#first{
	background-color:yellow;
	border: 1px green;
}
#second{
	background-color:red;
	border: 1px black;
}
#third{
	background-color:green;
	border: 1px yellow;
}